* {
    max-width: 100%;
    min-height: 100%;
}

body {

    display: flex;
    flex-direction: column;
    background-color: #808080;
    min-height: auto;
    justify-content: center;

}

div {

    display: flex;
    justify-content: center;
    padding: 20px;

}

.body {
    display: flex;
    justify-content: center;
}

