* {

    min-height: 25px;
    background-color: #808080;
    padding: 0;
    margin: 0;

}

.leftside {
    display: flex;
    flex-direction: column;
    min-width: 25%;
}

.rightside {
    display: flex;
    flex-direction: column;
    min-width: 25%;
}

body {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.header {
    flex-grow:1;
}

.center {

    display: flex;
    flex-direction: column;
    min-height: auto;
    min-width: 50%;
    justify-content: center;

}


.buttondisplay {
    display: flex;
    justify-content: center;
}

button{
    background-color: white;
    padding: 5px;
    margin: 5px 20px;

}


div {

    display: flex;
    justify-content: center;
    margin: 10px 0px 10px;


}


